In [1]:
# Import Splinter, BeautifulSoup, and Pandas

from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set up Splinter

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 95.0.4638
Get LATEST driver version for 95.0.4638
There is no [mac64] chromedriver for browser 95.0.4638 in cache
Get LATEST driver version for 95.0.4638
Trying to download new driver from https://chromedriver.storage.googleapis.com/95.0.4638.69/chromedriver_mac64.zip
Driver has been saved in cache [/Users/saatvi/.wdm/drivers/chromedriver/mac64/95.0.4638.69]

## NASA mars news site

In [12]:
# Visit the Mars news site

mars_url = 'https://redplanetscience.com/'
browser.visit(mars_url)

# Optional delay for loading the page

browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [13]:
# Convert the browser html to a soup object

html = browser.html
soup_news = soup(html, 'html.parser')
slide_element = soup_news.select_one('div.list_text')

slide_element.find('div', class_='content_title')

In [14]:
# Use the parent element to find the first "a" tag and save it as "news_title"

news_title = slide_element.find('div', class_='content_title').get_text()

news_title

"Deadline Closing for Names to Fly on NASA's Next Mars Rover"

In [15]:
# Use the parent element to find the paragraph text

news_paragraph = slide_element.find('div', class_='article_teaser_body').get_text()

news_paragraph

'You have until Sept. 30 to send your names to Mars aboard the Mars 2020 rover. '

## JPL Space Images

In [17]:
# Visit URL

space_url = 'https://spaceimages-mars.com'
browser.visit(space_url)

In [18]:
# Find/click the full image button

full_img_element = browser.find_by_tag('button')[1]
full_img_element.click()

In [19]:
# Parse html results with soup

html = browser.html
soup_img = soup(html, 'html.parser')

In [20]:
# find the relative image url

relative_img_url = soup_img.find('img', class_='fancybox-image').get('src')
relative_img_url

'image/featured/mars3.jpg'

In [21]:
# Use the base url to create an absolute url

img_url = f'https://spaceimages-mars.com/{relative_img_url}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

## Mars Facts

In [22]:
# Use `pd.read_html` to pull the data from the Mars-Earth Comparison section

spacefacts_df = pd.read_html('https://galaxyfacts-mars.com')[0]
spacefacts_df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [23]:
# Create defined columns and show new dataframe

spacefacts_df.columns=['Description', 'Mars', 'Earth']
spacefacts_df.set_index('Description', inplace=True)
spacefacts_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [24]:
# Convert dataframe to html

spacefacts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Hemispheres

In [25]:
# Visit URL

hemisphere_url = 'https://marshemispheres.com/'

browser.visit(hemisphere_url)

In [26]:
# Create a list to hold all of the hemisphere images/titles

hemisphere_img_urls = []

# Get a list of all of the hemispheres

links = browser.find_by_css('a.product-item img')

# Next, loop through those links, click the link, find the sample anchor, and return the href

for i in range(len(links)):
    hemisphere = {}
    
    # We have to find the elements on each loop to avoid a stale element exception
    
    browser.find_by_css('a.product-item img')[i].click()
    
    # Find the sample image anchor tag and find the href
    
    sample_element = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = sample_element['href']
    
    # Get hemisphere titles
    
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    # Append the hemisphere object to list
    
    hemisphere_img_urls.append(hemisphere)
    
    # Navigate backwards
    
    browser.back()

In [27]:
# Show list

hemisphere_img_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [28]:
browser.quit()